version: 2
jobs:
  build:
    docker:
      - image: circleci/php
    working_directory: ~/aplazame
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.json" }}
          - v1-dependencies-

      - run:
          name: PHP version
          command: php -v

      - run:
          name: Install dependencies
          command: composer install -n --prefer-dist

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}

      - run:
          name: Check Syntax
          command: make syntax.checker

      - run:
          name: CS
          command: make style

  deploy_to_s3:
    machine:
      enabled: true
    working_directory: ~/aplazame
    steps:
      - checkout

      - run:
          name: Create bundle
          command: make zip

      - run:
          name: Deploy to S3 when release
          command: aws s3 cp --acl public-read aplazame.latest.zip s3://aplazame/modules/prestashop/

workflows:
  version: 2
  build-deploy:
    jobs:
    - build:
        filters:
          tags:
            only: /.*/
    - deploy_to_s3:
        requires:
        - build
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
