<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>aplazame</name>
	<displayName><![CDATA[Aplazame: buy now, pay later]]></displayName>
	<version><![CDATA[3.0.2]]></version>
	<description><![CDATA[Boost sales by 50% with Aplazame, a risk free payment method that offers instant credit for online purchases.]]></description>
	<author><![CDATA[Aplazame]]></author><author_uri><![CDATA[https://aplazame.com]]></author_uri>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about removing these details?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries>ES</limited_countries>
</module>